<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер паролей</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>

        <form method="POST" class="container">
            <h2>Ввести данные</h2>

            <input type="text" name="site" placeholder="Название сайта" required>
            <input type="text" name="log" placeholder="Логин" required>
            <input type="text" name="pas" placeholder="Пароль" required>

            <button type="submit" class="btn save-passwords">Сохранить</button>
        </form>

        <h2>Пароли</h2>>

        {% if passwords %}
            <div class="passwords-list">
                {% for passwords in passwords %}
                    <div class="password-item">
                        <span class="password-number">{{ loop.index }}</span>
                        <span class="site-log-pas">{{ passwords }}</span>
                    </div>
                {% endfor %}
            </div>
        {% else %}

            <p class="no-passwords">Пароли не найдены</p>

        {% endif %}
</body>
</html>
